<?php

/*

$collection = $this->collectionFactory->create();
$collection->addFieldToFilter('brandstest_id', 1);
foreach ($collection as $item) {
    echo $item->getName() . '</br>';
    echo $item->getDescription() . '</br>';
    echo $item->getImage() . '</br>';
}

*/

echo 'This is a simple brands table:<p></p><p></p>';

?>