<?php $collection = $block->getBrandsTestCollection(); ?>
<?php if($collection->count() > 0): ?>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
    <table class="data table" id="brandstest-data-table">
        <caption class="table-caption">Titan BrandsTest Data</caption>
        <thead>
            <tr>
                <th scope="col" class="col brandstest_id">ID</th>
                <th scope="col" class="col name">Brand Name</th>
                <th scope="col" class="col description">Description</th>
                <th scope="col" class="col image">Logo</th>
                <th scope="col" class="col actions">Action</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($collection as $key => $data): ?>
                <tr>
                    <td data-th="ID" class="col brandstest_id"><?php echo $data->getBrandstest_id(); ?></td>
                    <td data-th="Name" class="col name"><?php echo $data->getName(); ?></td>
                    <td data-th="Description" class="col description"><?php echo $data->getDescription(); ?></td>
                    <td data-th="Image" class="col image"><img title="" src="pub/media/<?php echo $data->getImage(); ?>" alt="" /></td>
                    <td data-th="Actions" class="col actions">
                        <?php $id = ($data->getBrandsTestId()) ? $data->getBrandsTestId() : $data['brandstest_id']; ?>
                        <!-- "$data->getTesting13Id()" was not working when I generated Vky_Testing13 module. That's why I had to place above line. -->
                        <a href="<?php echo $block->getBaseUrl().'brandstest/index/view/id/'.$id; ?>" class="action view">
                            <span>View</span>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <h2>We couldn't find any records</h2>
<?php endif; ?>