<?php
    $singleData = $block->getSingleData();
?>

<div>
    <h3>Brand Name/h3>
    <p><?php echo $singleData->getName(); ?></p>   
</div>
<div>
    <h3>Logo</h3>
    <p><?php echo $singleData->getImage(); ?></p>
</div>
<div>
    <h3>Description</h3>
    <p><?php echo $this->_filterProvider->getPageFilter()->filter($singleData->getDescription()); ?></p>
</div>
<div>
    <h3>ID</h3>
    <p><?php echo $singleData->getBrandstest_id(); ?></p>
</div>